* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBE7C6;
}


/* CSS SIDE-BAR */
.nav {
    background-color: #FBE7C6;
}

.nav-link {
    margin-right: 100px;

}

.side-bar {
    background-color: grey;
}

.navbar {
    background-color: grey;
    margin-top: 40px;
}

.offcanvas {
    background-color: grey;
}


.navbar-toggler-icon {
    margin-top: 5px;
    font-size: 20px;
    color: white;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.nav-link:hover {
    color: red;
}

.form-control {
    width: 100px;
}

/* CSS SIDE-BAR */

/* CSS SLIDER */
.carousel img {
    background-size: cover;
    margin-top: 50px;
}

.best-seller {
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 2rem;
}

.card-body {
    border-style: none;
}

.row .card:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
}

.detail {
    margin-left: 83px;
}

.bi-star-fill,
.bi-star-half {
    color: gold;
}

/* CSS SLIDER */

.card {
    background-color: #FBE7C6;
}


/* CSS INSTARGAM FEEDS */
.instagram-feeds {
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 2rem;
}

/* CSS INSTARGAM FEEDS */

/* CSS FOOTER */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid;
    border-width: 1px 0;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.footers {
    background-color: grey;
    margin-top: 30px;
    color: white;
}

/* CSS FOOTER */

.dark-mode {
    font-size: 17px;
}
